.no-animation {
	transition: none !important;
}

.text-selectable {
	user-select: all;
}

.w-full {
	width: 100%;
}

.h-full {
	height: 100%;
}

.page-content {
	position: relative;
	height: 100%;
	overflow: hidden;
}

.content-center {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.vertical-scroll {
	overflow-y: auto !important;
	overflow-x: hidden !important;
}

.horizontal-scroll {
	overflow-x: scroll !important;
	overflow-y: hidden !important;
}

.page-content.vertical-scroll {
	overflow-y: auto !important;
}

.page-content.horizontal-scroll {
	overflow-x: scroll !important;
}

body:has(.v-overlay--active.v-dialog) .page-content.vertical-scroll::-webkit-scrollbar-thumb {
	display: none;
}

.page-content.inner-padding {
	padding: var(--page-inner-padding);
}

.page-content.inner-padding-vertical {
	padding: var(--page-inner-padding) 0px;
}

.page-content.inner-padding-horizontal {
	padding: 0px var(--page-inner-padding);
}

.page-content.inner-padding-top {
	padding-top: var(--page-inner-padding);
}

.page-content.inner-padding-bottom {
	padding-bottom: var(--page-inner-padding);
}

.page-content.inner-padding-left {
	padding-left: var(--page-inner-padding);
}

.page-content.inner-padding-right {
	padding-right: var(--page-inner-padding);
}

.page-content>.v-container {
	padding: 0px;
	max-width: 100%;
}