@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes menuOpen {
	0% {
		transform: translateY(calc(35px - var(--windowbar-height)));
		opacity: 0;
	}

	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}
