/* vuetify components */
.v-ripple__container {
	display: none !important;
}

.v-btn,
.v-list-item,
.v-selection-control,
.v-alert {
	cursor: default !important;
	border-radius: var(--base-radius) !important;
}

.v-btn {
	transition: none;
}

.v-btn:active {
	opacity: 0.8;
}

.v-overlay__content .v-list {
	animation: menuOpen 0.15s ease-in-out;
	transform-origin: top center;
	border-radius: calc(var(--base-radius));
	background: rgba(var(--v-theme-surface), 1) !important;
	border: rgba(var(--v-theme-border), 1) 1px solid;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 9px 0px;
	padding: 3px;
	flex-direction: column;
	gap: 5px;
	display: flex;
}

.v-list-item__overlay {
	transition: none;
}

.v-overlay__content .v-list-item {
	cursor: default !important;
	font-size: 14px;
	transition: none;
	border-radius: calc(var(--base-radius) - 3px);
	text-transform: none;
	color: rgba(var(--v-theme-text), 1) !important;
	padding: 9px 15px !important;
	height: auto !important;
	min-height: 0px;
}

.v-overlay__content .v-virtual-scroll__spacer {
	max-width: 0px;
}

.v-overlay__content .v-list-item:has(.v-selection-control) {
	padding: 0px 15px !important;
	padding-left: 5px !important;
}

.v-navigation-drawer .v-list {
	padding: 0px 0px;
	padding-left: var(--page-inner-padding);
	padding-right: var(--page-inner-padding);
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.v-navigation-drawer .v-list-item {
	min-height: 30px !important;
	padding: 10px !important;
}

.v-navigation-drawer .v-list-item:active {
	opacity: 0.8;
}

.v-navigation-drawer {
	margin-top: calc(var(--windowbar-height) * -1) !important;
	padding-top: calc(var(--windowbar-height)) !important;
	height: calc(100vh + var(--windowbar-height)) !important;
	background: none !important;
}

.v-navigation-drawer--mobile {
	background: rgba(var(--v-theme-surface), 1) !important;
	opacity: 0;
	transition: all 350ms cubic-bezier(0, 0.995, 0.345, 1),
		background 0.3s ease-in-out !important;
	transition-timing-function: cubic-bezier(0, 0.995, 0.345, 1),
		background 0.3s ease-in-out !important;
}

.v-navigation-drawer--active {
	opacity: 1;
}

.v-navigation-drawer .v-list-item .v-icon {
	font-size: 18px;
}

.v-list-item__prepend > .v-badge ~ .v-list-item__spacer,
.v-list-item__prepend > .v-icon ~ .v-list-item__spacer,
.v-list-item__prepend > .v-tooltip ~ .v-list-item__spacer {
	width: 24px;
}

.v-checkbox .v-selection-control {
	height: auto;
	min-height: 0px;
}

.v-checkbox .v-input__details:empty {
	display: none;
}

.v-card {
	border-radius: var(--base-radius);
	border-color: rgba(var(--v-theme-border), 1);
	border-width: 1.5px;
}

.v-overlay__content .v-card {
	border-color: rgb(var(--v-theme-border));
	border-radius: calc(var(--base-radius) + 2px) !important;
}

.v-navigation-drawer__scrim {
	opacity: 0;
}

.v-field {
	border-radius: var(--base-radius) !important;
	box-shadow: none !important;
	font-size: 14px;
}

.v-card-title {
	margin-bottom: 10px;
}

.v-table {
	border-radius: var(--base-radius) !important;
	border: 1px solid rgb(var(--v-theme-border)) !important;
}

.v-table,
.v-card-text {
	font-size: 14px;
}

.v-select,
.v-select *,
.v-slider,
.v-slider * {
	cursor: default !important;
}

/* windowbar menu */
.component__WindowBar-menu
	.v-dock-menu-bar-item-wrapper:has(.active)
	.menu-wrapper {
	animation: menuOpen 0.15s ease-in-out;
	transform-origin: top center;
}

.component__WindowBar-menu {
	position: relative !important;
	background: none !important;
	width: auto !important;
}

.component__WindowBar-menu ul li {
	background: none;
}

.component__WindowBar-menu .menu-wrapper {
	border-radius: var(--base-radius);
	padding: 3px;
}

.component__WindowBar-menu .menu-wrapper li:not(.divider) {
	transition: none;
	color: rgba(var(--v-theme-text), 1);
	border-radius: calc(var(--base-radius) - 3px);
	text-transform: none;
}

.component__WindowBar-menu .menu-item-icon {
	color: rgba(var(--v-theme-text), 1);
}

.component__WindowBar-menu .menu-item-icon svg {
	transition: none;
	fill: rgba(var(--v-theme-text), 1);
	position: relative;
	top: 2px;
}

.component__WindowBar-menu .menu-item {
	cursor: default !important;
	font-size: 14px;
}

.component__WindowBar-menu .menu-item.disable {
	opacity: 0.4;
	background: none !important;
}

.v-theme--DarkMode .component__WindowBar-menu .menu-wrapper {
	background: rgba(var(--v-theme-surface), 1) !important;
	border: rgba(var(--v-theme-border), 1) 1px solid;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 9px 0px;
}

.v-theme--DarkMode .component__WindowBar-menu .menu-wrapper li:hover,
.v-theme--DarkMode .component__WindowBar-menu .menu-wrapper .highlight {
	background: rgba(255, 255, 255, 0.05) !important;
}

.v-theme--DarkMode .component__WindowBar-menu .menu-wrapper li:active,
.v-theme--DarkMode .component__WindowBar-menu .menu-wrapper .highlight:active {
	background: rgba(255, 255, 255, 0.03) !important;
}

.v-theme--DarkMode
	.component__WindowBar-menu
	.menu-bar-item-container:focus-visible {
	outline-color: rgba(255, 255, 255, 0) !important;
}

.v-theme--DarkMode .component__WindowBar-menu .menu-bar-item-container.active {
	background: rgba(255, 255, 255, 0.08) !important;
}

.v-theme--DarkMode .component__WindowBar-menu .menu-item-divider {
	height: 0px;
	border-bottom: rgba(var(--v-theme-border), 1) 1.5px solid;
	filter: brightness(2.1);
}

.v-theme--LightMode .component__WindowBar-menu .menu-item-divider {
	height: 0px;
	border-bottom: rgba(var(--v-theme-border), 1) 1.5px solid;
	filter: brightness(1);
}

.v-theme--LightMode .component__WindowBar-menu .menu-wrapper {
	background: rgba(var(--v-theme-surface), 1) !important;
	border: rgba(var(--v-theme-border), 1) 1px solid;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 9px 0px;
}

.v-theme--LightMode .component__WindowBar-menu .menu-wrapper li:hover,
.v-theme--LightMode .component__WindowBar-menu .menu-wrapper .highlight {
	background: rgba(0, 0, 0, 0.05) !important;
}

.v-theme--LightMode .component__WindowBar-menu .menu-wrapper li:active,
.v-theme--LightMode .component__WindowBar-menu .menu-wrapper .highlight:active {
	background: rgba(0, 0, 0, 0.03) !important;
}

.component__WindowBar-menu .menu-bar-item-container {
	border-radius: calc(var(--base-radius));
	border: 0px;
	transition: none;
	outline: transparent 2px solid !important;
	cursor: default !important;
}

.v-theme--LightMode
	.component__WindowBar-menu
	.menu-bar-item-container:focus-visible {
	outline-color: rgba(255, 255, 255, 0.1) !important;
}

.v-theme--LightMode .component__WindowBar-menu .menu-bar-item-container.active {
	background: rgba(0, 0, 0, 0.06) !important;
}

.component__WindowBar-menu .menu-bar-item-container:active .name-container {
	opacity: 0.8;
}

.component__WindowBar-menu .name-container {
	color: rgba(var(--v-theme-text), 1) !important;
}

.component__WindowBar-menu .divider {
	pointer-events: none;
	margin: -3px -14px;
	width: calc(100% + 28px);
	border: 0px !important;
}

/* context menu */
.v-contextmenu {
	animation: fadeIn 0.15s ease-in-out;
	transform-origin: top center;
	border-radius: calc(var(--base-radius));
}

.v-contextmenu-inner {
	padding: 3px;
}

.v-contextmenu-item {
	cursor: default !important;
	font-size: 14px;
	transition: none;
	border-radius: calc(var(--base-radius) - 3px);
	text-transform: none;
	color: rgba(var(--v-theme-text), 1) !important;
	padding: 5px 10px;
	min-height: 30px !important;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;
}

.v-contextmenu-item .v-icon {
	width: 14px;
	height: 14px;
	font-size: 16px;
}

.v-contextmenu-item--disabled {
	opacity: 0.4;
	pointer-events: none;
}

.v-contextmenu-divider {
	margin: 3px -3px 3px -3px;
	width: calc(100% + 6px);
}

.v-contextmenu-item:has(.v-contextmenu-submenu__arrow) {
	padding-right: 30px !important;
}

.v-contextmenu-group__menus {
	padding: 0px;
	display: flex;
	gap: 2px;
}

.v-contextmenu-group__menus i {
	font-size: 18px;
}

html:has(.v-application.v-theme--LightMode) .v-contextmenu {
	background: rgba(var(--v-theme-surface), 1) !important;
	border: rgba(var(--v-theme-border), 1) 1px solid;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 9px 0px;
}

html:has(.v-application.v-theme--LightMode) .v-contextmenu-item--hover {
	background: rgba(0, 0, 0, 0.06) !important;
}

html:has(.v-application.v-theme--LightMode) .v-contextmenu-item:active {
	background: rgba(0, 0, 0, 0.03) !important;
}

html:has(.v-application.v-theme--LightMode) .v-contextmenu-divider {
	height: 0px;
	border-bottom: rgba(var(--v-theme-border), 1) 1.5px solid;
	filter: brightness(1);
}

html:has(.v-application.v-theme--DarkMode) .v-contextmenu {
	background: rgba(var(--v-theme-surface), 1) !important;
	border: rgba(var(--v-theme-border), 1) 1px solid;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 9px 0px;
}

html:has(.v-application.v-theme--DarkMode) .v-contextmenu-item--hover {
	background: rgba(255, 255, 255, 0.05);
}

html:has(.v-application.v-theme--DarkMode) .v-contextmenu-item:active {
	background: rgba(255, 255, 255, 0.03) !important;
}

html:has(.v-application.v-theme--DarkMode) .v-contextmenu-divider {
	border-bottom: rgba(var(--v-theme-border), 1) 1.5px solid;
	filter: brightness(2.1);
}

/* windowbar */
.component__WindowBar {
	position: relative;
	height: var(--windowbar-height);
}

.component__WindowBar .component__WindowBar__bar {
	-webkit-app-region: drag;
	box-shadow: none !important;
	background: rgb(var(--v-theme-background)) !important;
	overflow: visible;
	height: 10px;
}

.component__WindowBar .no-drag {
	-webkit-app-region: no-drag;
}

.component__WindowBar .v-toolbar {
	height: inherit;
	background: none !important;
}

.component__WindowBar .component__WindowBar-title {
	user-select: none;
	font-size: 16px;
	margin-left: 10px;
	color: rgb(var(--v-theme-text));
	margin-right: 140px;
}

.component__WindowBar .v-toolbar__content {
	overflow: visible !important;
	height: var(--windowbar-height) !important;
	padding: 0px var(--page-inner-padding) !important;
	gap: 5px;
}

.component__WindowBar .component__WindowBar-icon {
	height: 18px;
	width: 18px;
}

.window-material-type-default .component__WindowBar .component__WindowBar-icon {
	display: none;
}

.component__WindowBar .component__WindowBar-buttons {
	-webkit-app-region: no-drag;
	display: flex;
	align-items: center;
}

.component__WindowBar .component__WindowBar-buttons-btn {
	min-width: 0px;
	min-height: 0px;
	margin: 0px;
	border-radius: var(--base-radius);
	padding: 0px 10px;
	min-width: 42px;
	line-height: 43px !important;
}

.component__WindowBar .component__WindowBar-buttons-btn .v-btn__prepend {
	margin: 0px;
	padding: 0px;
	width: 100%;
	justify-content: center;
}

.component__WindowBar .v-toolbar__prepend {
	gap: 5px;
}

.component__WindowBar .component__WindowBar-btn__menu {
	display: none;
}

body:not(.window-material-type-fluent) .component__WindowBar-title {
	display: none;
}

.v-card-item .v-card-title {
	margin: 0px;
}

@media screen and (max-width: 799px) {
	.component__WindowBar .component__WindowBar-btn__menu {
		display: block;
	}

	html:has(.v-application.v-theme--LightMode) .v-navigation-drawer {
		box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 9px 0px;
	}

	html:has(.v-application.v-theme--DarkMode) .v-navigation-drawer {
		box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 9px 0px;
	}
}

/* overlay */
@media (prefers-color-scheme: dark) {
	.v-overlay__scrim {
		background: rgba(0, 0, 0, 0.6);
		opacity: 1;
	}
}
